.panda-bg-info{
  background-color: #fceae8;
}
.panda-Catagories img{
  width: 100px;
}
.panda-bg-watch{
  background-color: #ffa500;
}
.panda-bg-shoes{
  background-color: #da70d6;
}
.panda-bg-bag{
  background-color: #0000ff;
}
.panda-btn-buy-now{
  background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
  color: white;
  border-radius: 8px;
  padding: 9px 25px;
  border: none;
}